<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ARTSWPFCharting" version="1.0.6724.26839" targetFramework="net462" />
  <package id="ARTSWPFControls" version="1.0.7046.24275" targetFramework="net462" />
  <package id="Common.Lib.Core" version="3.1.7062.16260" targetFramework="net462" />
  <package id="Common.Lib.UI.Images" version="2.1.6361.22062" targetFramework="net462" />
  <package id="Common.Lib.UI.WPF.Core" version="3.0.7062.25738" targetFramework="net462" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net462" />
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net462" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net462" />
  <package id="LiteDB" version="2.0.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="NLog" version="4.5.10" targetFramework="net462" />
  <package id="NMSLibraries" version="1.0.6823.24057" targetFramework="net462" />
  <package id="Npgsql" version="4.0.4" targetFramework="net462" />
  <package id="NSspi" version="0.1.3" targetFramework="net462" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net462" />
  <package id="Ookii.Dialogs.Wpf" version="1.0.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>