<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HelperLibrary.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HelperLibrary.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <HelperLibrary.Settings>
      <setting name="DataBaseConnectionString" serializeAs="String">
        <value>server=BlackBox;uid=Chris;pwd=Klampfn#1;database=Trading</value>
      </setting>
      <setting name="From" serializeAs="String">
        <value>christianwoeber@gmx.at</value>
      </setting>
      <setting name="HistoricalBaseUrl" serializeAs="String">
        <value>http://ichart.finance.yahoo.com/table.csv?</value>
      </setting>
      <setting name="SingleBaseUrl" serializeAs="String">
        <value>http://finance.yahoo.com/d/quotes.csv?s</value>
      </setting>
      <setting name="HistoricalBaseUrlNew" serializeAs="String">
        <value>https://query1.finance.yahoo.com/v7/finance/download/</value>
      </setting>
      <setting name="PortfolioValueInitial" serializeAs="String">
        <value>100000</value>
      </setting>
    </HelperLibrary.Settings>
  </applicationSettings>
  <userSettings>
    <HelperLibrary.Settings>
      <setting name="DataBaseConnectionStringTest" serializeAs="String">
        <value>server=BlackBox;uid=Chris;pwd=Klampfn#1;database=Trading_Test</value>
      </setting>
    </HelperLibrary.Settings>
  </userSettings>
</configuration>